@import "../../assets/styles/reset";
@import "../../assets/styles/mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewBold-Reg.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewExtraBold-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewMedium-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
body {
    font-family: "Futura", sans-serif;
}

.head,
nav,
.menu {
    @include flex(center, space-between);
}

header {
    position: sticky;
    top: 0;
    padding-block: 20px;
    z-index: 9999;
    background: linear-gradient(-90deg, #8ec7ef, #1e419b);
    ul {
        @include flex(center, space-between);
        li {
            &:last-child {
                a {
                    color: #f58220;
                    span {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .cloud {
        position: absolute;
        top: 0;
        transform: rotate(180deg);
        width: 105px;
    }
    nav {
        width: 72%;
    }
}
@keyframes bounceIn {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
    70% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes bounceOut {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    70% {
        transform: scaleX(0.1);
    }
    100% {
        transform: scaleX(0);
    }
}

.header-list {
    li {
        a {
            font-size: 16px;
            font-weight: 500;
            padding-inline: 10px;
            color: $white;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover {
                color: $secondary-color;
            }

            span {
                position: relative;
                display: inline-block;
                padding-bottom: 2px;
                &:after {
                    content: "";
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    background-color: $secondary-color;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    animation: bounceOut 0.6s ease forwards;
                    opacity: 0;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        animation: bounceIn 0.6s ease forwards;
                    }
                }
            }
            span.selected {
                &:after {
                    transform: scaleX(100%);
                    animation: bounceIn 0.6s ease forwards;
                    opacity: 1;
                }
            }
        }
    }
}

.logo {
    img {
        max-width: 130px;
    }
}

.menu {
    gap: 12px;
}

.search-logo {
    cursor: pointer;
    padding: 10px 10px 5px 10px;
    border-radius: $radius-full;
    background-color: $white;
}

.lang-dropdown,
.call-link,
.drop-lang {
    display: flex;
    align-items: center;
}
.call-link,
.drop-lang {
    gap: 5px;
}
.drop-down {
    position: relative;
    padding-bottom: 15px;
    &:hover {
        .drop-lang {
            display: block;
        }
    }
}
.lang-dropdown {
    border-radius: 0.9375rem;
    padding: 5px 7px;
    background-color: $white;
    color: $white;
    position: relative;
    top: 8px;
    font-weight: 600;

    .choose-lang {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    img {
        width: 20px;
        height: 20px;
    }
    span {
        font-size: 12px;
        color: $black;
        margin-inline: 4px;
    }

    &::after {
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
        color: $gray;
    }
}

.drop-lang {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    color: $white;
    background-color: $white;
    border-radius: $radius-12;
    a:first-child {
        border-top-left-radius: $radius-sm;
        border-top-right-radius: $radius-sm;
        border-bottom: $border-light;
    }
    a:last-child {
        border-bottom-left-radius: $radius-sm;
        border-bottom-right-radius: $radius-sm;
    }
    a {
        display: block;
        width: 100%;
        display: flex;
        gap: 8px;
        padding: 5px;
        transition: $transition-fast;
        align-items: center;
        &:hover {
            background-color: $gray;
        }
    }

    &::after {
        position: absolute;
        z-index: -5;
        content: "";
        border-bottom: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        top: -5px;
        left: 20%;
    }
}

.call-link {
    border-radius: $radius-xl;
    background-color: $white;
    padding: 10px 15px;
    color: $black;

    span {
        font-size: $font-sm;
    }
}

#contact {
    transition: background 0.3s;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &:hover {
        background-color: #f7f7f8;
        border-bottom: 1px solid #fbb439;
    }
}

#contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid #d6d9db;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

#work-hours {
    text-align: center;
}

#contact-form {
    padding: 50px 0;
}

.contact-head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    h3 {
        margin-left: 16px;
        color: #f1823a;
        font-weight: 500;
        font-size: 28px;
    }
}

.contact {
    background-image: url("https://bravotravel.az/img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    .line {
        height: 6px;
        position: relative;
        background: #fbb439;
        border-radius: 25px;
        box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, 0.3);
        margin: 20px 0;
    }

    label {
        display: block;
        margin-bottom: 6px;
    }

    textarea {
        padding: 12px;
        border: 2px solid #eaeaea;
        border-radius: 3px;
        font-size: 14px;
        outline: none;
        position: relative;
        z-index: 2;

        &:focus {
            background: transparent;
        }
    }

    textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 100px;
        width: 100%;
    }
    input {
        height: 50px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.name-number {
    display: flex;
    gap: 30px;
    input {
        width: 100%;
        padding: 12px;
        border: 2px solid #eaeaea;
        border-radius: 3px;
        font-size: 14px;
        outline: none;
        position: relative;
        z-index: 2;

        &:focus {
            background: transparent;
        }
    }
    .input-box {
        width: 50%;
    }
}

.input-box,
.textarea-box {
    position: relative;
    margin-top: 30px;

    label {
        position: absolute;
        left: 14px;
        top: 15px;
        transition: 0.3s;
        font-size: 14px;
        color: #777;
        pointer-events: none;
        background: #fff;
        padding: 0 5px;
    }

    &.active label {
        top: -18px;
        left: 0;
        font-size: 12px;
        color: #333;
    }
}

.focus-bg {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        z-index: 1;
        transition: all 0.4s ease;
    }

    &::before {
        top: 0;
        left: 0;
        background: #fffcef;
    }

    &::after {
        bottom: 0;
        right: 0;
        background: #fffcef;
    }

    &:focus-within {
        &::before,
        &::after {
            width: 50%;
            height: 100%;
        }
    }
}

.submit-btn {
    display: flex;
    justify-self: end;
    margin-top: 20px;
    background-color: #fb9505;
    color: white;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 6px 21px 0 rgba(251, 149, 5, 0.71);
    padding: 13px 36px 13px 54px;
    border-radius: 24px;
    border: none;
    transition: 0.3s all ease-in-out;
    outline: none;
    background-image: url("https://bravotravel.az/img/submit-icon.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 21px center;
    cursor: pointer;
    &:hover {
        box-shadow: none;
    }
}

footer {
    .info,
    .info-item {
        display: flex;
        align-items: center;
    }

    .info {
        justify-content: space-between;
    }

    .info-item {
        width: 33%;
        &:last-child {
            justify-content: flex-end;
        }
        &:nth-child(2) {
            justify-content: center;
        }
    }
}

.first {
    background-color: $primary-color;
    padding: 50px 0;
    position: relative;
    .info {
        color: $white;
        gap: 10px;
    }
    .info-item {
        gap: 8px;
        a {
            position: relative;
            &:after {
                content: "";
                height: 1px;
                width: 0;
                position: absolute;
                background-color: #fff;
                display: block;
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transform-origin: 0 50%;
                transition-property: all;
                transition-duration: 0.5s;
                bottom: 0;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    .imgdiv {
        @include circle(50px);
        background-color: $secondary-color;
    }

    .cloud-footer {
        position: absolute;
    }

    .left {
        left: 0;
        bottom: 30px;
    }
    .right {
        right: 0;
        bottom: 0;
    }
}

.second {
    padding: 20px 0;
    .info-item {
        gap: 8px;
        font-size: $font-md;
        &:last-child {
            color: $gray-medium;
        }
    }
    .social-link {
        background-color: $gray-dark;
        color: $white;
        border-radius: $radius-full;
        font-size: 14px;
        width: 25px;
        height: 25px;
        text-align: center;
        transition: $transition-medium;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: $secondary-color;
        }
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    transform: rotateY(180deg);
    span {
        display: block;
        margin-bottom: 5px;
        height: 3px;
        background-color: #2872a1;
    }
    .line1,
    .line2 {
        width: 30px;
    }
    .line3 {
        width: 19px;
    }
}
