* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaNewBold-Reg.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaNewExtraBold-Reg.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaNewMedium-Reg.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
body {
  font-family: "Futura", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-inline: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/FuturaNewBold-Reg.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/FuturaNewExtraBold-Reg.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/FuturaNewMedium-Reg.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
body {
  font-family: "Futura", sans-serif;
}

.head,
nav,
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  position: sticky;
  top: 0;
  padding-block: 20px;
  z-index: 9999;
  background: linear-gradient(-90deg, #8ec7ef, #1e419b);
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul li:first-child a {
  color: #f58220;
}
header ul li:first-child a span:after {
  width: 100%;
}
header .cloud {
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 105px;
}
header nav {
  width: 72%;
}

@keyframes bounceIn {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  70% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes bounceOut {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  70% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(0);
  }
}
.header-list li a {
  font-size: 16px;
  font-weight: 500;
  padding-inline: 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header-list li a:hover {
  color: #f58220;
}
.header-list li a span {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.header-list li a span:after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #f58220;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  animation: bounceOut 0.6s ease forwards;
}
.header-list li a span:hover:after {
  animation: bounceIn 0.6s ease forwards;
}

.logo img {
  max-width: 130px;
}

.menu {
  gap: 12px;
}

.search-logo {
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  border-radius: 50%;
  background-color: #fff;
}

.lang-dropdown,
.call-link,
.drop-lang {
  display: flex;
  align-items: center;
}

.call-link,
.drop-lang {
  gap: 5px;
}

.drop-down {
  position: relative;
  padding-bottom: 15px;
}
.drop-down:hover .drop-lang {
  display: block;
}

.lang-dropdown {
  border-radius: 0.9375rem;
  padding: 5px 7px;
  background-color: #fff;
  color: #fff;
  position: relative;
  top: 8px;
  font-weight: 600;
}
.lang-dropdown .choose-lang {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.lang-dropdown img {
  width: 20px;
  height: 20px;
}
.lang-dropdown span {
  font-size: 12px;
  color: #000;
  margin-inline: 4px;
}
.lang-dropdown::after {
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  color: #e2e2e2;
}

.drop-lang {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #fff;
  border-radius: 12px;
}
.drop-lang a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.031372549);
}
.drop-lang a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.drop-lang a {
  display: block;
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 5px;
  transition: 0.3s all ease;
  align-items: center;
}
.drop-lang a:hover {
  background-color: #e2e2e2;
}
.drop-lang::after {
  position: absolute;
  z-index: -5;
  content: "";
  border-bottom: 8px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: -5px;
  left: 20%;
}

.call-link {
  border-radius: 34px;
  background-color: #fff;
  padding: 10px 15px;
  color: #000;
}
.call-link span {
  font-size: 13px;
}/*# sourceMappingURL=contact.css.map */