@import "../../assets/styles/reset";
@import "../../assets/styles/mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewBold-Reg.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewExtraBold-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewMedium-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
body {
    font-family: "Futura", sans-serif;
}

.head,
nav,
.menu {
    @include flex(center, space-between);
}

header {
    position: sticky;
    top: 0;
    padding-block: 20px;
    z-index: 9999;
    background: linear-gradient(-90deg, #8ec7ef, #1e419b);
    ul {
        @include flex(center, space-between);
    }
    .cloud {
        position: absolute;
        top: 0;
        transform: rotate(180deg);
        width: 105px;
    }
    nav {
        width: 72%;
    }
    .overlay {
        display: none;
    }
    .close,
    .fas {
        display: none;
    }
}
@keyframes bounceIn {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
    70% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes bounceOut {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    70% {
        transform: scaleX(0.1);
    }
    100% {
        transform: scaleX(0);
    }
}

.header-list {
    li {
        a {
            font-size: 16px;
            font-weight: 500;
            padding-inline: 10px;
            color: $white;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover {
                color: $secondary-color;
            }

            span {
                position: relative;
                display: inline-block;
                padding-bottom: 2px;
                &:after {
                    content: "";
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    background-color: $secondary-color;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    animation: bounceOut 0.6s ease forwards;
                    opacity: 0;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        animation: bounceIn 0.6s ease forwards;
                    }
                }
            }
        }
        a.selected {
            color: $secondary-color;
            span {
                &:after {
                    transform: scaleX(100%);
                    animation: bounceIn 0.6s ease forwards;
                    opacity: 1;
                }
            }
        }
    }
    .header-list.d-none {
        display: none;
    }
    .header-list.d-block {
        display: block;
    }

    .burger-menu-search {
        height: 50px;
        width: 100%;
        padding: 12px 30px;
        border-radius: 25px;
        outline: none !important;
        font-size: 13px;
        border: 1px solid #fff;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .li-search {
        display: none;
        padding: 27px 35px;
        align-items: center;
    }
    .burger-search-icon {
        height: 50px;
        background-image: url("https://bravotravel.az/img/search.png");
        cursor: pointer;
        background-repeat: no-repeat;
        border-radius: 100%;
        background-color: white;
        padding: 24.5px;
        background-position: center;
        transition: 500ms all ease;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.logo {
    img {
        max-width: 130px;
    }
}

.menu {
    gap: 12px;
}

.search-logo {
    cursor: pointer;
    padding: 10px 10px 5px 10px;
    border-radius: $radius-full;
    background-color: $white;
}

.lang-dropdown,
.call-link,
.drop-lang {
    display: flex;
    align-items: center;
}
.call-link,
.drop-lang {
    gap: 5px;
}
.drop-down {
    position: relative;
    padding-bottom: 15px;
    &:hover {
        .drop-lang {
            display: block;
        }
    }
}
.lang-dropdown {
    border-radius: 0.9375rem;
    padding: 5px 7px;
    background-color: $white;
    color: $white;
    position: relative;
    top: 8px;
    font-weight: 600;

    .choose-lang {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    img {
        width: 20px;
        height: 20px;
    }
    span {
        font-size: 12px;
        color: $black;
        margin-inline: 4px;
    }

    &::after {
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
        color: $gray;
    }
}

.drop-lang {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    color: $white;
    background-color: $white;
    border-radius: $radius-12;
    a:first-child {
        border-top-left-radius: $radius-sm;
        border-top-right-radius: $radius-sm;
        border-bottom: $border-light;
    }
    a:last-child {
        border-bottom-left-radius: $radius-sm;
        border-bottom-right-radius: $radius-sm;
    }
    a {
        display: block;
        width: 100%;
        display: flex;
        gap: 8px;
        padding: 5px;
        transition: $transition-fast;
        align-items: center;
        &:hover {
            background-color: $gray;
        }
    }

    &::after {
        position: absolute;
        z-index: -5;
        content: "";
        border-bottom: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        top: -5px;
        left: 20%;
    }
}

.call-link {
    border-radius: $radius-xl;
    background-color: $white;
    padding: 10px 15px;
    color: $black;

    span {
        font-size: $font-sm;
    }
}

#detail {
    padding-block: 50px;
    h1 {
        font-size: 40px;
        padding-bottom: 30px;
        text-align: center;
        width: 100%;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.detail-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    line-height: 1.5;
    .banner {
        width: 50%;
        img {
            width: 100%;
            border-radius: 7px;
        }
    }

    .detail-text {
        width: 50%;
    }

    table {
        width: 100%;
    }

    tr:nth-child(odd) {
        background-color: #fffcef;
    }
    td {
        padding: 10px 40px;
    }

    .detail-otel {
        margin-block: 32px;
    }
}

.apply-btn {
    display: flex;
    justify-content: center;
    margin-block: 40px;
    button {
        background-image: linear-gradient(91deg, #fe6601, #fb9505);
        padding: 11px 100px;
        border-radius: 5px;
        color: white;
        box-shadow: 0 4px #bd5400;
        position: relative;
        margin: 0 auto;
        top: -2px;
        text-shadow: 0px 3px 2px #823a00;
        text-align: center;
        transition: 500ms all ease;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            box-shadow: 0 2px #bd5400;
            top: 0;
        }
    }
}
.header-price {
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}
footer {
    .info,
    .info-item {
        display: flex;
        align-items: center;
    }

    .info {
        justify-content: space-between;
    }

    .info-item {
        width: 33%;
        &:last-child {
            justify-content: flex-end;
        }
        &:nth-child(2) {
            justify-content: center;
        }
    }
}

.first {
    background-color: $primary-color;
    padding: 50px 0;
    position: relative;
    .info {
        color: $white;
        gap: 10px;
    }
    .info-item {
        gap: 8px;
        a {
            position: relative;
            &:after {
                content: "";
                height: 1px;
                width: 0;
                position: absolute;
                background-color: #fff;
                display: block;
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transform-origin: 0 50%;
                transition-property: all;
                transition-duration: 0.5s;
                bottom: 0;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    .imgdiv {
        @include circle(50px);
        background-color: $secondary-color;
    }

    .cloud-footer {
        position: absolute;
    }

    .left {
        left: 0;
        bottom: 30px;
    }
    .right {
        right: 0;
        bottom: 0;
    }
}

.second {
    padding: 20px 0;
    .info-item {
        gap: 8px;
        font-size: $font-md;
        &:last-child {
            color: $gray-medium;
        }
    }
    .social-link {
        background-color: $gray-dark;
        color: $white;
        border-radius: $radius-full;
        font-size: 14px;
        width: 25px;
        height: 25px;
        text-align: center;
        transition: $transition-medium;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: $secondary-color;
        }
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    transform: rotateY(180deg);
    span {
        display: block;
        margin-bottom: 5px;
        height: 3px;
        background-color: #2872a1;
    }
    .line1,
    .line2 {
        width: 30px;
    }
    .line3 {
        width: 19px;
    }
}

#wp-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    text-align: center;
    background-color: #0dc143;
    color: #fff;
    padding: 18px 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    z-index: 994;
}
