@import "import"

header,nav, ul, .menu
    display: flex
    align-items: center
    justify-content: center

header
    gap: 15px

.header-list
    li
        a
            font-size: 16px
            font-weight: 500
            padding-inline: 10px
            transition: all .5s ease
            &:hover
                color: #f58220

.logo
    img
        max-width: 160px

.search-logo
    padding: 10px 10px 6px 10px
    border-radius: 50%
    background-color: black
    img
        width: 20px
        height: 20px

.lang-dropdown, .call-link
    display: flex
    align-items: center