* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaNewBold-Reg.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaNewExtraBold-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaNewMedium-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

body {
    font-family: "Futura", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-inline: 15px;
}
