// ? Colors
$primary-color: #1e419b;
$secondary-color: #f58220;
$white: #fff;
$black: #000;
$gray: #e2e2e2;
$light-gray: #f7f7fb;
$text-gray: #484848;
$gray-light: #e8e8e8;
$gray-medium: #b2b2b2;
$gray-dark: gray;

$header-gradient: linear-gradient(-90deg, #8ec7ef, #1e419b);

$radius-sm: 10px;
$radius-md: 20px;
$radius-lg: 25px;
$radius-xl: 34px;
$radius-full: 50%;
$radius-12: 12px;
$radius-24: 24px;

$transition-fast: 0.3s all ease;
$transition-medium: 0.5s all ease;

$card-shadow: 0px 5px 16px 0px #d0cdcd;

$font-sm: 13px;
$font-md: 15px;
$font-lg: 18px;
$font-xl: 35px;

$input-height: 50px;
$card-width: 250px;
$card-height: 380px;

$border-light: 2px solid #00000008;

$overlay-gradient: linear-gradient(178deg, rgba(0, 118, 129, 0), #040404);

$z-header: 9999;
$z-overlay: 999;
