@import "import";

// ? Header and Navigation starts here
.head,
ul,
nav,
.menu {
    @include flex(center, space-between);
}

header {
    position: absolute;
    left: 0;
    padding-block: 40px;
    right: 0;
    z-index: $z-header;
    .overlay {
        display: none;
    }
    .cloud {
        position: absolute;
        top: 0;
        transform: rotate(180deg);
        width: 105px;
    }
    nav {
        width: 72%;
    }
    .close,
    .fas {
        display: none;
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    transform: rotateY(180deg);
    span {
        display: block;
        margin-bottom: 5px;
        height: 3px;
        background-color: #2872a1;
    }
    .line1,
    .line2 {
        width: 30px;
    }

    .line3 {
        width: 19px;
    }
}

header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 20px;
    background-image: $header-gradient;
    .logo {
        img {
            width: 130px;
        }
    }
    nav {
        justify-content: normal;
    }
}

@keyframes bounceIn {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
    70% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes bounceOut {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    70% {
        transform: scaleX(0.1);
    }
    100% {
        transform: scaleX(0);
    }
}

.header-list {
    li {
        a {
            font-size: 16px;
            font-weight: 500;
            padding-inline: 10px;
            color: $white;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover {
                color: $secondary-color;
            }

            span {
                position: relative;
                display: inline-block;
                padding-bottom: 2px;
                &:after {
                    content: "";
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    background-color: $secondary-color;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    animation: bounceOut 0.6s ease forwards;
                    opacity: 0;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        animation: bounceIn 0.6s ease forwards;
                    }
                }
            }
        }
    }
    .header-list.d-none {
        display: none;
    }
    .header-list.d-block {
        display: block;
    }
    .burger-menu-search {
        height: 50px;
        width: 100%;
        padding: 12px 30px;
        border-radius: 25px;
        outline: none !important;
        font-size: 13px;
        border: 1px solid #fff;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .li-search {
        display: none;
        padding: 27px 35px;
        align-items: center;
    }
    .burger-search-icon {
        height: 50px;
        background-image: url("https://bravotravel.az/img/search.png");
        cursor: pointer;
        background-repeat: no-repeat;
        border-radius: 100%;
        background-color: white;
        padding: 24.5px;
        background-position: center;
        transition: 500ms all ease;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.logo {
    img {
        max-width: 160px;
    }
}

.menu {
    gap: 12px;
}

.search-logo {
    cursor: pointer;
    padding: 10px 10px 5px 10px;
    border-radius: $radius-full;
    background-color: $white;
}

.lang-dropdown,
.call-link,
.drop-lang {
    display: flex;
    align-items: center;
}
.call-link,
.drop-lang {
    gap: 5px;
}
.drop-down {
    position: relative;
    padding-bottom: 15px;
    &:hover {
        .drop-lang {
            display: block;
        }
    }
}
.lang-dropdown {
    border-radius: 0.9375rem;
    padding: 5px 7px;
    background-color: $white;
    color: $white;
    position: relative;
    top: 8px;
    font-weight: 600;

    .choose-lang {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    img {
        width: 20px;
        height: 20px;
    }
    span {
        font-size: 12px;
        color: $black;
        margin-inline: 4px;
    }

    &::after {
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
        color: $gray;
    }
}

.drop-lang {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    color: $white;
    background-color: $white;
    border-radius: $radius-12;
    a:first-child {
        border-top-left-radius: $radius-sm;
        border-top-right-radius: $radius-sm;
        border-bottom: $border-light;
    }
    a:last-child {
        border-bottom-left-radius: $radius-sm;
        border-bottom-right-radius: $radius-sm;
    }
    a {
        display: block;
        width: 100%;
        display: flex;
        gap: 8px;
        padding: 5px;
        transition: $transition-fast;
        align-items: center;
        &:hover {
            background-color: $gray;
        }
    }

    &::after {
        position: absolute;
        z-index: -5;
        content: "";
        border-bottom: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        top: -5px;
        left: 20%;
    }
}

.call-link {
    border-radius: $radius-xl;
    background-color: $white;
    padding: 10px 15px;
    color: $black;

    span {
        font-size: $font-sm;
    }
}
// ? Header and Navigation ends here

// ? Tours and New Tours starts here
.bg {
    background: url("https://bravotravel.az/img/map.png") no-repeat;
}
#tours,
#new-tours {
    padding-block: 40px;
}

#tours {
    background-position: top;
}

.new-tours-bg {
    background-size: cover;
    background-position: left;
}
.cards-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    h2 {
        font-size: $font-xl;
        font-weight: 600;
        line-height: 1.2;
    }
    a {
        display: block;
        font-size: $font-md;
        position: relative;
        &:after {
            display: block;
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            background-color: black;
            display: block;
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transform-origin: 0 50%;
            transition-property: all;
            transition-duration: 0.5s;
        }
        &:hover {
            &:after {
                width: 0%;
            }
        }
    }
}

.cards {
    transition-timing-function: linear;
    padding-block: 10px;
    transition: transform 0.4s ease;
}

.new-cards {
    display: flex;
    gap: 15px;
    padding-block: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
        flex: 0 0 23%;
    }
}

.card {
    @include card;

    img {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }
    .card-info {
        background-color: $light-gray;
        padding: 18px;
    }
    h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    h4 {
        font-size: 16px;
        font-weight: 600;
    }
    .card-footer {
        display: flex;
        justify-content: space-between;
        margin-block: 16px 30px;
        p {
            background-color: $secondary-color;
            border-radius: $radius-xl;
            font-size: 12px;
            padding: 4px 14px;
            color: $white;
        }
        span {
            color: $text-gray;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.cards-wrapper {
    overflow: hidden;
}
.tours-carousel {
    position: relative;
    padding-inline: 150px;
}

.cards-carousel {
    position: relative;
    overflow: hidden;
}

.card-navbtn {
    background-color: $gray-light;
    border-radius: $radius-full;
    padding: 10px;
    color: $white;
    font-size: 16px;
    border: 7px solid white;
    transition: $transition-medium;
    cursor: pointer;
    &:hover {
        background-color: $secondary-color;
    }
}

.card-prev {
    left: 10%;
    position: absolute;
    top: 40%;
}

.card-next {
    right: 10%;
    position: absolute;
    z-index: $z-overlay;
    top: 40%;
}

.card-prev,
.card-next {
    z-index: 10;
    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
// ? Tours and New Tours ends here

// ? Country Tours starts here
#country-tours {
    background-color: $light-gray;
    padding: 50px 0 100px;
    position: relative;
    .cards-head {
        position: relative;
        z-index: 1;
    }
}
.cloud-topright {
    position: absolute;
    top: 0;
    right: 0;
}
.cloud-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}
.cloud-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}
.grid-cards {
    display: grid;
    grid-template-columns: 2fr 2fr 2.8fr 2.8fr 2.8fr;
    grid-auto-rows: 190px;
    gap: 8px;
    grid-auto-flow: dense;
}

.card-grid {
    position: relative;
    border-radius: $radius-24;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    &:first-child {
        grid-column: span 2;
        grid-row: span 3;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .overlay {
        position: absolute;
        height: 50%;
        width: 100%;
        bottom: 0;
        transition: $transition-fast;
        border-radius: $radius-24;
        background-image: $overlay-gradient;
        opacity: 1;
    }

    &:hover {
        .overlay {
            opacity: 0;
        }
        h3 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 5px;
        }
    }
}

.tour-info {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 0;
    color: $white;
    h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 3px;
        transition: $transition-fast;
    }
    p {
        font-size: $font-sm;
        transition: $transition-fast;
    }
}
.form-div {
    display: flex;
    justify-content: center;
    position: relative;
    left: 70px;
}
.form-container {
    position: relative;
    background-color: $primary-color;
    padding: 30px 97px 50px;
    border-radius: $radius-md;
    width: 80%;
    margin: 60px 0 70px;
    .form-bg {
        background-image: url("https://bravotravel.az/img/map.png");
        background-repeat: no-repeat;
        background-position: -165px center;
        background-size: cover;
        width: 100%;
        height: 318px;
        position: absolute;
        top: 10px;
        left: 14px;
    }
    .form-head {
        color: $white;
        font-size: $font-xl;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        h3 {
            font-weight: 500;
        }
    }
    form {
        position: relative;
        z-index: 15;
        margin-bottom: 15px;
    }

    .inputs-row {
        display: flex;
        justify-content: space-between;
        input {
            @include input;
            padding: 17px;
            width: 48%;
        }
    }
    select {
        @include input;
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid $white;
        transition: $transition-medium;
        padding: 10px 17px;
        background-color: $white;
        margin-block: 15px;
        option {
            &:first-child {
                color: rgb(206, 206, 206);
            }
        }
    }

    textarea {
        width: 100%;
        border-radius: $radius-md;
        margin-bottom: 15px;
        padding: 17px;
        font-size: $font-lg;
        transition: $transition-medium;
        outline: none;
        resize: vertical;
        min-height: 90px;
        max-height: 300px;
    }

    .submit-btn {
        @include button($secondary-color);
    }
    .lady {
        position: absolute;
        top: -110px;
        left: -175px;
    }
    .cloud-bottomleft {
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 25px;
    }
    .cloud-bottomright {
        width: 500px;
        height: 196px;
        position: absolute;
        bottom: -50px;
    }
}

// ? Carousel starts here

@keyframes fly {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
#carousel {
    width: 100%;
    aspect-ratio: 21 /10;
    position: relative;
    overflow: hidden;
    // height: 98vh;
    .swiper-content-my,
    .swiper,
    .swiper-wrapper,
    .swiper-slide {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .bg-layer {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -5;
    }

    .bg-baku {
        position: absolute;

        width: clamp(300px, 45vw, 900px);
        top: 25%;
        left: 20%;
        transform: translateX(-45%);
        width: 45%;
        height: auto;
        z-index: -3;
    }

    .bg-fly {
        position: absolute;

        width: clamp(120px, 18vw, 350px);

        top: 16%;
        left: 10%;

        height: auto;
        z-index: -1;
    }
    .bg-fly.flying {
        animation: fly 4s ease-in-out;
    }

    .hero-carousel-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;

        #hero-title-box {
            position: relative;
            top: 130px;
            left: -70px;
            .hero-title-text {
                text-transform: uppercase;
                font-size: 70px;
                color: #f58220;
                font-weight: bold;
                line-height: 1;
            }
            .hero-desc-text {
                font-size: 22px;
                text-transform: uppercase;
                color: #000;
                width: max-content;
            }
        }

        .hero-slider-engine {
            margin: 0;
            position: relative;
            overflow: hidden;
            left: 190px;
        }
        .hero-item-card {
            &.swiper-slide-active {
                transition: height 0.3s ease;
                .hero-overlay {
                    display: none !important;
                }
            }
        }

        .hero-wrapper-box {
            align-items: center;
        }

        .hero-item-card {
            flex-shrink: 0;
            height: 300px;
            width: 235px;
            border-radius: 13px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.38);
            &:hover .hero-overlay {
                display: block;
            }

            .hero-overlay {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #f58220;
                opacity: 0.5;
                border-radius: 15px;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }

            .hero-info-content {
                position: absolute;
                bottom: 5%;
                color: #fff;
                padding: 0 30px 20px 15px;
                z-index: 2;
                h3 {
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 1;
                    margin-bottom: 8px;
                }
                p {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }

        .dots-container {
            position: relative;
            z-index: 20;
            transform: rotate(90deg);
            // width: 25%;
            left: -45px;
            top: 20px;
        }
        .hero-dots-container {
            display: flex;
            height: 100%;
            .swiper-pagination-bullet {
                opacity: 1;
                width: auto;
                height: auto;
                border: none;
            }

            .dot-parent {
                position: relative;
                margin-left: 30px;
                width: 8px;
                height: 8px;
                .dot {
                    display: block;
                    background-color: #1e419b;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 40%;
                    width: 40px;
                    height: 1.5px;
                    background-color: #1e419b;
                    left: 10px;
                }
            }

            .swiper-pagination-bullet:nth-last-child(2) .dot::after {
                width: 39px;
            }
            .swiper-pagination-bullet:last-child:after {
                display: none;
            }

            .swiper-pagination-bullet-active .dot {
                background-color: #f58220;
                transform: scale(1.4);
            }
        }
    }

    #infos {
        display: flex;
        z-index: 45;
        gap: 15px;
        margin-top: 90px;
        .info {
            width: 85px;
            height: 85px;
            padding: 0 5px;
            border-radius: 12px;
            border: 1px solid #1e419b;
            color: #1e419b;
            line-height: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            transition: 300ms all ease;
            &:hover {
                background-color: #1e419b;
                color: #fff;
            }
        }
        i {
            font-size: 23px;
        }
    }
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .cloud {
        position: absolute;
        will-change: transform;
        pointer-events: none;
    }
    .cloud-first {
        top: 14%;
        left: 8%;
        z-index: 6;
    }
    .cloud-second {
        left: 37%;
        top: 100px;
        top: 15%;
        z-index: 2;
    }

    .cloud-third {
        left: auto;
        right: -2%;
        top: 16%;
        img {
            width: 490px;
        }
    }

    .cloud-fourth {
        top: 330px;
        top: 50%;
    }

    .cloud-fifth {
        left: 42%;
        top: 330px;
    }
    .cloud-sixth {
        top: 352px;
        right: -150px;
    }
}
// ? Carousel ends here

.chat-icon {
    position: fixed;
    background-color: #f58220;
    width: 60px;
    height: 60px;
    z-index: 9000;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    cursor: pointer;
}

footer {
    .info,
    .info-item {
        display: flex;
        align-items: center;
    }

    .info {
        justify-content: space-between;
    }

    .info-item {
        width: 33%;
        &:last-child {
            justify-content: flex-end;
        }
        &:nth-child(2) {
            justify-content: center;
        }
    }
}

.first {
    background-color: $primary-color;
    padding: 50px 0;
    position: relative;
    .info {
        color: $white;
        gap: 10px;
    }
    .info-item {
        gap: 8px;
        a {
            position: relative;
            &:after {
                content: "";
                height: 1px;
                width: 0;
                position: absolute;
                background-color: #fff;
                display: block;
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transform-origin: 0 50%;
                transition-property: all;
                transition-duration: 0.5s;
                bottom: 0;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    .imgdiv {
        @include circle(50px);
        background-color: $secondary-color;
    }

    .cloud-footer {
        position: absolute;
    }

    .left {
        left: 0;
        bottom: 30px;
    }
    .right {
        right: 0;
        bottom: 0;
    }
}

.second {
    padding: 20px 0;
    .info-item {
        gap: 8px;
        font-size: $font-md;
        &:last-child {
            color: $gray-medium;
        }
    }
    .social-link {
        background-color: $gray-dark;
        color: $white;
        border-radius: $radius-full;
        font-size: 14px;
        width: 25px;
        height: 25px;
        text-align: center;
        transition: $transition-medium;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: $secondary-color;
        }
    }
}
