@import "../../assets/styles/reset";
@import "../../assets/styles/mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewBold-Reg.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewExtraBold-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/FuturaNewMedium-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
body {
    font-family: "Futura", sans-serif;
}

.head,
nav,
.menu {
    @include flex(center, space-between);
}

header {
    position: sticky;
    top: 0;
    padding-block: 20px;
    z-index: 9999;
    background: linear-gradient(-90deg, #8ec7ef, #1e419b);
    ul {
        @include flex(center, space-between);
        li {
            &:first-child {
                a {
                    color: #f58220;
                    span {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .cloud {
        position: absolute;
        top: 0;
        transform: rotate(180deg);
        width: 105px;
    }
    nav {
        width: 72%;
    }
    .overlay {
        display: none;
    }
    .close,
    .fas {
        display: none;
    }
}
.burger-menu {
    display: none;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    transform: rotateY(180deg);
    span {
        display: block;
        margin-bottom: 5px;
        height: 3px;
        background-color: #2872a1;
    }
    .line1,
    .line2 {
        width: 30px;
    }
    .line3 {
        width: 19px;
    }
}

@keyframes bounceIn {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
    70% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes bounceOut {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    70% {
        transform: scaleX(0.1);
    }
    100% {
        transform: scaleX(0);
    }
}
.header-list {
    li {
        a {
            font-size: 16px;
            font-weight: 500;
            padding-inline: 10px;
            color: $white;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover {
                color: $secondary-color;
            }

            span {
                position: relative;
                display: inline-block;
                padding-bottom: 2px;
                &:after {
                    content: "";
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    background-color: $secondary-color;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    animation: bounceOut 0.6s ease forwards;
                    opacity: 0;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        animation: bounceIn 0.6s ease forwards;
                    }
                }
            }
        }

        a.selected {
            color: $secondary-color;
            span {
                &:after {
                    transform: scaleX(100%);
                    animation: bounceIn 0.6s ease forwards;
                    opacity: 1;
                }
            }
        }
    }
    .header-list.d-none {
        display: none;
    }
    .header-list.d-block {
        display: block;
    }
}

.logo {
    img {
        max-width: 130px;
    }
}

.menu {
    gap: 12px;
}

.search-logo {
    cursor: pointer;
    padding: 10px 10px 5px 10px;
    border-radius: $radius-full;
    background-color: $white;
}

.lang-dropdown,
.call-link,
.drop-lang {
    display: flex;
    align-items: center;
}
.call-link,
.drop-lang {
    gap: 5px;
}
.drop-down {
    position: relative;
    padding-bottom: 15px;
    &:hover {
        .drop-lang {
            display: block;
        }
    }
}
.lang-dropdown {
    border-radius: 0.9375rem;
    padding: 5px 7px;
    background-color: $white;
    color: $white;
    position: relative;
    top: 8px;
    font-weight: 600;

    .choose-lang {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    img {
        width: 20px;
        height: 20px;
    }
    span {
        font-size: 12px;
        color: $black;
        margin-inline: 4px;
    }

    &::after {
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
        color: $gray;
    }
}

.drop-lang {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    color: $white;
    background-color: $white;
    border-radius: $radius-12;
    a:first-child {
        border-top-left-radius: $radius-sm;
        border-top-right-radius: $radius-sm;
        border-bottom: $border-light;
    }
    a:last-child {
        border-bottom-left-radius: $radius-sm;
        border-bottom-right-radius: $radius-sm;
    }
    a {
        display: block;
        width: 100%;
        display: flex;
        gap: 8px;
        padding: 5px;
        transition: $transition-fast;
        align-items: center;
        &:hover {
            background-color: $gray;
        }
    }

    &::after {
        position: absolute;
        z-index: -5;
        content: "";
        border-bottom: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        top: -5px;
        left: 20%;
    }
}

.call-link {
    border-radius: $radius-xl;
    background-color: $white;
    padding: 10px 15px;
    color: $black;

    span {
        font-size: $font-sm;
    }
}

#about-comp {
    padding: 20px 0;
    background-color: #eaf0f5;
}

.about-comp-container {
    display: flex;
    align-items: center;
    ul {
        padding-left: 30px;
        width: 50%;

        li {
            position: relative;
            padding-left: 15px;
            color: #2d2d2d;
            font-size: 1.125rem;
            line-height: 29px;
            margin-bottom: 15px;
            &:after {
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background-color: #8ec7ef;
                top: 11px;
                left: 0;
            }
        }
    }
    .about-img {
        width: 50%;
        text-align: center;
        img {
            width: 100%;
        }
        &:after {
            content: "";
            display: inline-block;
            background-color: #8ec7ef;
            -webkit-box-shadow: 0 4px 10px 0 rgba(142, 199, 239, 0.5);
            -moz-box-shadow: 0 4px 10px 0 rgba(142, 199, 239, 0.5);
            box-shadow: 0 4px 10px 0 rgba(142, 199, 239, 0.5);
            width: 90px;
            height: 6px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            cursor: pointer;
        }
    }
}

#about-info {
    padding: 50px 0;
    .about-head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    p {
        margin-block: 25px;
    }
    b {
        font-weight: 600;
    }
    h3 {
        margin-left: 16px;
        color: #f1823a;
        font-weight: 500;
        font-size: 28px;
    }
    h4 {
        font-weight: 500;
        color: #f1833b;
        margin-block: 25px;
        font-size: 1.5rem;
    }
}

#about-list {
    li {
        padding-left: 35px;
        margin-block: 24px;
        p {
            margin: 0px;
            padding-left: 35px;
            font-size: 17px;
            line-height: 1.5;
            color: #333;
            text-align: justify;
        }
    }
}
.about-list-head {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
        width: 18px;
    }
}

footer {
    .info,
    .info-item {
        display: flex;
        align-items: center;
    }

    .info {
        justify-content: space-between;
    }

    .info-item {
        width: 33%;
        &:last-child {
            justify-content: flex-end;
        }
        &:nth-child(2) {
            justify-content: center;
        }
    }
}

.first {
    background-color: $primary-color;
    padding: 50px 0;
    position: relative;
    .info {
        color: $white;
        gap: 10px;
    }
    .info-item {
        gap: 8px;
        a {
            position: relative;
            &:after {
                content: "";
                height: 1px;
                width: 0;
                position: absolute;
                background-color: #fff;
                display: block;
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transform-origin: 0 50%;
                transition-property: all;
                transition-duration: 0.5s;
                bottom: 0;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    .imgdiv {
        @include circle(50px);
        background-color: $secondary-color;
    }

    .cloud-footer {
        position: absolute;
    }

    .left {
        left: 0;
        bottom: 30px;
    }
    .right {
        right: 0;
        bottom: 0;
    }
}

.second {
    padding: 20px 0;
    .info-item {
        gap: 8px;
        font-size: $font-md;
        &:last-child {
            color: $gray-medium;
        }
    }
    .social-link {
        background-color: $gray-dark;
        color: $white;
        border-radius: $radius-full;
        font-size: 14px;
        width: 25px;
        height: 25px;
        text-align: center;
        transition: $transition-medium;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: $secondary-color;
        }
    }
}
